<!-- About Modal - Clean Version -->
<div class="about-modal about-modal-clean" id="about-modal">
    <div class="about-modal-backdrop"></div>
    <div class="about-modal-content">
        <button class="btn btn-icon btn-md about-modal-close" aria-label="Close modal">
            <i data-icon="x"></i>
        </button>
        
        <div class="about-modal-body">
            <div class="about-avatar">
                <img src="https://res.cloudinary.com/dbmvymdp1/image/upload/v1751613219/nate_mills_nizmxp.png" alt="Nate Mills">
            </div>
            
            <h2 class="about-name">Nate Mills</h2>
            <p class="about-role">Senior UI Designer</p>
            
            <p class="about-bio">
                A 20-year design systems architect who believes in using a little magic to solve big workflow problems.
            </p>
            
            <div class="about-social">
                <a href="https://github.com/n8mills-UI" target="_blank" class="btn btn-icon btn-md" title="GitHub">
                    <i data-icon="github"></i>
                </a>
                <a href="https://www.linkedin.com/in/millsdesign/" target="_blank" class="btn btn-icon btn-md" title="LinkedIn">
                    <i data-icon="linkedin"></i>
                </a>
                <a href="https://www.figma.com/@n8mills" target="_blank" class="btn btn-icon btn-md" title="Figma">
                    <i data-icon="figma"></i>
                </a>
                <a href="https://natemills.me" target="_blank" class="btn btn-icon btn-md" title="Portfolio">
                    <i data-icon="briefcase"></i>
                </a>
                <a href="mailto:hello@natemills.me" target="_blank" class="btn btn-icon btn-md" title="Email">
                    <i data-icon="mail"></i>
                </a>
            </div>
        </div>
    </div>
</div>