<!-- src/components/_footer-enhanced.html -->
<footer class="footer-desktop">
    <div class="main-bar">
        <div class="brand-group">
            <div class="token-exporter-logo">
                <svg viewBox="0 0 355 355" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_footer_desktop_logo)"><path d="M0 0H355V355H0V0Z" fill="url(#paint0_linear_footer_desktop_logo)"/><circle cx="133.5" cy="177.5" r="99.5" fill="black" fill-opacity="0.42"/><path d="M178 88.4824C210.612 104.817 233 138.543 233 177.5C233 216.456 210.611 250.182 178 266.517C145.389 250.182 123 216.456 123 177.5C123 138.543 145.388 104.817 178 88.4824Z" fill="black"/><circle cx="222.5" cy="177.5" r="99.5" fill="black" fill-opacity="0.42"/></g><defs><linearGradient id="paint0_linear_footer_desktop_logo" x1="177.5" y1="0" x2="177.5" y2="355" gradientUnits="userSpaceOnUse"><stop stop-color="#D2FF37"/><stop offset="1" stop-color="#EEFF00"/></linearGradient><clipPath id="clip0_footer_desktop_logo"><rect width="355" height="355" rx="58" fill="white"/></clipPath></defs></svg>
            </div>
            <div class="text-group">
                <h3 class="footer-title">Token Exporter</h3>
                <p class="footer-tagline">Variables to production-ready code.</p>
            </div>
        </div>
        <a href="https://www.figma.com/community/plugin/1521741753717588633/token-exporter" class="btn btn-primary btn-md"><i data-icon="figma"></i> Get the Plugin</a>
    </div>
    <div class="sub-bar">
         <p class="footer-attribution">Created with <span class="heart">❤️</span> by Nate Mills for the design community</p>
         <div class="social-links">
            <a href="https://github.com/n8mills-UI/token-exporter-ds" class="btn btn-icon btn-md" title="GitHub"><i data-icon="github"></i></a>
            <a href="https://www.linkedin.com/in/millsdesign/" class="btn btn-icon btn-md" title="LinkedIn"><i data-icon="linkedin"></i></a>
            <a href="https://www.figma.com/@n8mills" class="btn btn-icon btn-md" title="Figma"><i data-icon="figma"></i></a>
            <a href="https://natemills.me" class="btn btn-icon btn-md" title="Portfolio"><i data-icon="briefcase"></i></a>
            <a href="mailto:hello@natemills.me" class="btn btn-icon btn-md" title="Email"><i data-icon="mail"></i></a>
        </div>
    </div>
</footer>

<footer class="footer-mobile">
    <div class="footer-content">
        <div class="primary-actions">
            <div class="brand-group">
                <div class="token-exporter-logo">
                    <svg viewBox="0 0 355 355" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_footer_mobile_logo)"><path d="M0 0H355V355H0V0Z" fill="url(#paint0_linear_footer_mobile_logo)"/><circle cx="133.5" cy="177.5" r="99.5" fill="black" fill-opacity="0.42"/><path d="M178 88.4824C210.612 104.817 233 138.543 233 177.5C233 216.456 210.611 250.182 178 266.517C145.389 250.182 123 216.456 123 177.5C123 138.543 145.388 104.817 178 88.4824Z" fill="black"/><circle cx="222.5" cy="177.5" r="99.5" fill="black" fill-opacity="0.42"/></g><defs><linearGradient id="paint0_linear_footer_mobile_logo" x1="177.5" y1="0" x2="177.5" y2="355" gradientUnits="userSpaceOnUse"><stop stop-color="#D2FF37"/><stop offset="1" stop-color="#EEFF00"/></linearGradient><clipPath id="clip0_footer_mobile_logo"><rect width="355" height="355" rx="58" fill="white"/></clipPath></defs></svg>
                </div>
                <h3 class="footer-title">Token Exporter</h3>
                <p class="footer-tagline">Variables to production-ready code.</p>
            </div>
            <a href="https://www.figma.com/community/plugin/1521741753717588633/token-exporter" class="btn btn-primary btn-md"><i data-icon="figma"></i> Get the Plugin</a>
        </div>
        <div class="info-group">
            <div class="social-links">
                <a href="https://github.com/n8mills-UI/token-exporter-ds" class="btn btn-icon btn-md" title="GitHub"><i data-icon="github"></i></a>
                <a href="https://www.linkedin.com/in/millsdesign/" class="btn btn-icon btn-md" title="LinkedIn"><i data-icon="linkedin"></i></a>
                <a href="https://www.figma.com/@n8mills" class="btn btn-icon btn-md" title="Figma"><i data-icon="figma"></i></a>
                <a href="https://natemills.me" class="btn btn-icon btn-md" title="Portfolio"><i data-icon="briefcase"></i></a>
                <a href="mailto:hello@natemills.me" class="btn btn-icon btn-md" title="Email"><i data-icon="mail"></i></a>
            </div>
            <p class="footer-attribution">Created with <span class="heart">❤️</span> by Nate Mills for the design community</p>
        </div>
    </div>
</footer>