<!-- src/components/_token-card-advanced.html -->
<div class="card token-summary advanced-mode">
    <div class="text-heading-xl token-count-total">131</div>
    <div class="text-label token-label">Tokens Selected</div>
    <div class="token-breakdown">
        <div class="token-type-stat color active"><i class="icon" data-icon="palette"></i><div class="count">89</div><div class="text-label label">colors</div></div>
        <div class="token-type-stat text active"><i class="icon" data-icon="type"></i><div class="count">42</div><div class="text-label label">text</div></div>
        <div class="token-type-stat number"><i class="icon" data-icon="hash"></i><div class="count">98</div><div class="text-label label">numbers</div></div>
        <div class="token-type-stat states disabled"><i class="icon" data-icon="toggle-right"></i><div class="count">0</div><div class="text-label label">states</div></div>
    </div>
</div>